{% extends "base.html" %}


{% block content %}
{% if user.is_authenticated %}
  <h1>
    Username: {{ user.get_username }}
  </h1>
  <a href="{% url 'task-manager:index' %}" class="btn btn-secondary">
      Go back
    </a>
  <p><strong>First name:</strong> {{ user.first_name }}</p>
  <p><strong>Last name:</strong> {{ user.last_name }}</p>
  <p><strong>Position:</strong> {{ user.position }}</p>
  
<li>
  <a href="{% url 'task_manager:worker-detail' pk=user.pk %}"> See your task</a>
</li>
{% else %}
<h1>Task Tracker Service</h1>
<p>Welcome to Task Tracker Service, specified for IT company</p>
<h2>Task waiting for you, to be completed</h2>
<ul>
  <li><strong>Task:</strong> {{ num_tasks }}</li>
  <li><strong>Not comp Task:</strong> {{ not_completed_tasks_count }}</li>
</ul>
Please login our service to start work
<li><a href="{% url 'login' %}">Login</a></li>
{% endif %}
{% endblock %}
