{% extends "base.html" %}

{% block content %}
<!-- End of Hero -->
<div class="section section-md">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="mb-4">
          <span class="h5">Worker position table     <a href="{% url 'task-manager:position-create' %}" class="btn btn btn-outline-success link-to-page">
           Create
    </a></span>
        </div>
        {% include "task_manager/search_form.html" %}
        <div class="mb-5">
          {% if position_list %}
          <table class="table">
            <tr>
              <th scope="col">Position</th>
            </tr>
            {% for position in position_list %}
            <tr>
                <td>
                  <a href="{% url 'task-manager:position-detail' pk=position.id %}">
              {{ position.name }}</a>
              <a href="{% url 'task-manager:position-update' pk=position.id %}" class="badge bg-tertiary">
                update
              </a>
              <a href="{% url 'task-manager:position-delete' pk=position.id %}" class="badge bg-danger">
                delete
              </a>
                </td>
              </tr>
            {% endfor %}
          </table>
          {% include "includes/pagination.html" %}
          {% else %}
          No Position provided
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
