{% extends "base.html" %}

{% block content %}
  <h1>
    Position List
    <a href="{% url 'task-manager:position-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  {% include "task_manager/search_form.html" %}
  
  {% if position_list %}
    <ul>
      {% for position in position_list %}
        <li><a href="{% url 'task-manager:position-detail' pk=position.id %}">
          {{ position.name }}</a>
          </li>
      {% endfor %}
    </ul>
  {% else %}
    No Position provided
  {% endif %}
{% endblock %}
