{% extends "base.html" %}

{% block content %}
  <div class="section section-md">
    <div class="container">
      <div class="row mb-5 mb-lg-5">
        <div class="col-lg-4 col-sm-6">
          <h1>
            Position: {{ position.name }}
          </h1>
          <a href="{% url 'task-manager:position-list' %}" class="btn btn-outline-secondary">
            Go back
          </a>
          <a href="{% url 'task-manager:position-update' pk=position.id %}" class="btn btn-outline-secondary">
            Update
          </a>
          <a href="{% url 'task-manager:position-delete' pk=position.id %}" class="btn btn-outline-danger">
            delete
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
