{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="section section-md">
    <div class="container">
      <h1>{{ object|yesno:"Update,Create" }}</h1>
      <div class="row mb-4 mb-lg-5">
        <h1>{{ object|yesno:"Update,Create" }} worker</h1>
        <div class="col-lg-4 col-sm-6">
          <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
