{% extends "base.html" %}

{% block content %}
  <h1>
    Worker List
    <a href="{% url 'task-manager:worker-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  
  {% include "task_manager/search_form.html" %}

  {% if worker_list %}
    <table class="table">
      <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for worker in worker_list %}
        <tr>
          <td><a href="{{ worker.get_absolute_url }}" >{{ worker.username }} {% if user == worker %} (Me){% endif %}</a>
          </td>
          <td>{{ worker.first_name }}</td>
          <td>{{ worker.last_name }}</td>
          <td>{{ worker.position }}</td>
        <td>
            <a href="{% url 'task-manager:worker-update' pk=worker.id %}" class="btn btn-primary link-to-page">
              update
            </a>
          </td>
          <td>
            <a href="{% url 'task-manager:worker-delete' pk=worker.id %}" class="btn btn-primary link-to-page">
              delete
            </a>
          </td>
        </tr>
      {% endfor %}

    </table>
  {% else %}
    <p>There are no workers in the service.</p>
  {% endif %}
{% endblock %}
